body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-slate-grey);
}

.img__container img {
  /* background-color: green; */
  width: 100%;
}

.main__container {
  display: flex;
  /* padding-block: 1rem; */
  flex-direction: column;
}

.main__body {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  padding-block: 3rem;
  color: var(--dark-slate-grey);
}

.main__body h1 {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: .8rem;
}

.main__body>p {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.points__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.6rem;
}

.points__container .point {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.rounded__check {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--tomato);
  display: grid;
  place-content: center;
}

.rounded__check i {
  color: var(--white);
  font-size: 1.2rem;
}

.main__body form {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.emailInput {
  height: 50px;
  padding-left: 20px;
  outline: none;
  color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: .5rem;
  margin-bottom: 1.4rem;
}

.main__body form button {
  display: grid;
  place-content: center;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  height: 50px;
  border-radius: .5rem;
  border: none;
}

.main__body form label {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

#form>div:nth-child(1) {
  /* background-color: green; */
  /* margin-bottom: 0.8rem; */
  display: flex;
  justify-content: space-between;
}

#error-message {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--tomato);
  display: none;
}

.desktop__img {
  display: none;
}

@media (min-width:780px) {
  .main__container {
    flex-direction: row;
    padding-inline: 3rem 1rem;
    height: max-content;
    padding-block: 3rem;
    align-items: center;
    gap: 3rem;
    border-radius: 3rem;
  }

  .main__body {
    order: 1;
    padding-block: 0;
  }

  .main__body form {
    max-width: 500px;
  }

  .img__container {
    order: 2;
  }


  .desktop__img {
    display: block;
  }

  .mobile__img {
    display: none;
  }
}